/* Orders Section */
.orders-section {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}

.order-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Order Cards */
.order-card {
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-left {
  flex-direction: row;
}

.card-right {
  flex-direction: row-reverse;
}

.order-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.order-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.order-card-details {
  flex: 1;
  text-align: left;
}

.order-card-details label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.cancel-order-button {
  background-color: #b8091af5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.cancel-order-button:hover {
  background-color: #e04f5d;
}

.complete-order-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.complete-order-button:hover {
  background-color: #63c077;
}
